<app-data-form/>
<app-user-list/>

<!--
  Реалмзуйте два компонента UserList и UserItem 
  Cоздайте новый сервис Users, который будет хранить массив с польователями, а также метод, который этот массив будет асихнронно формировать
  Метод с массивом необходимо будет получить (массив для разметки, метод для выполнения запроса после инициализации компонента)
 -->

 <!-- 
     Реализовать новый компоенет DataForm, поместив туда инпут с label (по макету)
     Необходимо реализовать нерегистрозависымый поиск по атрибуту name 
     Посик должен осщуествляться сраху же после ввода
 -->